@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root {
  /* Colors */
  --primary: #ffffff;
  --secondary: #2d2d2d;
  --tertiary: #878787;
  --accent: #1b1b1d;

  /* Fonts */
  --inter: Inter;

  /* Font Sizes */
  --navSize: 1.125rem;
  --titleSize: 3.2rem;
  --subTitleSize: 1.438rem;
  --bodySize: 1.25rem;
}
