@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --primary: #f3f3f6;
  --secondary: #2d2d2d;
  --tertiary: #878787;
  --accent: #1b1b1d;

  /* Fonts */
  --inter: Inter;

  /* Font Sizes */
  --navSize: 1.125rem;
  --titleSize: 3.2rem;
  --subTitleSize: 1.438rem;
  --bodySize: 1.25rem;
}
